body {
    width: 100%;
    min-height: 100%;
    background-color: $background;
    color: rgb(73, 82, 92);
    font-family: $font-family;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
}

.material-icons {
    line-height: inherit;
}

.left {
	float: left;
}

.right {
    float: right;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;

	>main {
		flex: 1;

		>.content {
			margin-bottom: 24px;
			margin-top: -128px;
			min-height: 400px;
			
			&.fade {
				opacity: 0;
				transform: translateY(-32px);
				
				&.in {
					transition: opacity 500ms, transform 200ms;
				}
				
				&.in-active {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
		
		>.content-loading {
			width: 100%;
			padding: 5%;
		}
		
		@media (max-width: 992px) {
			>.content {
				margin-bottom: 0px;
			}
		}
	}
}

// ngAnimate animations
.ng-fade {
    &.ng-hide {
        opacity: 0;
    }

    &.ng-hide-remove,
    &.ng-hide-add {
        display: block !important;
    }

    &.ng-hide-remove {
        transition: all linear 1000ms;
    }

    &.ng-hide-add {
        transition: all linear 500ms;
    }
}