.link-list {
	margin: 12px 12px;

	>li {
		transition: 300ms;

		>a {
			color: rgba(0,0,0,.8);
			font-size: 16px;
			padding: 16px 12px;
			text-decoration: none;
			display: block;
		}

		&.selected > a {
			font-weight: bold;
			color: $primary-color;
		}

		&:hover {
			background: rgba(0,0,0,.08);
			border-radius: 4px;
		}

		&:hover > a {
			font-weight: bold;
		}
	}
}

.link-list.light > li {
	>a { color: rgba(255, 255, 255, .8); }

	&.selected > a { color: #FFF; }

	&:hover { background: rgba(255, 255, 255, .085); }
}