.main-header {
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 2;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

    >.social {
        height: 32px;
        background: #33363a;
        width: 100%;
        transition: background .5s;

        .text {
            float: left;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: rgba(255,255,255,.95);
            height: 100%;
            line-height: 32px;
        }

        .icons {
            float: right;
            height: 31px;
        }

        .icons > a {
            float: left;
            margin-left: 8px;
            opacity: 0.75;
            font-size: 20px;
            color: #FFF;
            line-height: 32px;

            &:hover { opacity: .95; }
        }
    }

    >.nav {
        height: 80px;
        background: #FFF;
        width: 100%;
        transition: background 500ms;

        .logo {
            display: inline-block;
            margin-top: 17.5px;

            >a > img {
                height: 45px;
                float: left;
            }
        }

        .nav-toggle {
            float: right;
            color: $primary-color;
            font-size: 29px;
            padding: 10px;
            margin-top: 15px;
            cursor: pointer;
            display: none;
            border-radius: 4px;
            transition: 400ms;

            &:hover { background: rgba(0,0,0,.12) }
        }

        .main-nav { float: right; }

        .main-nav > ul > li {
            height: 80px;
            line-height: 80px;
            float: left;
            margin-left: 16px;
            transition: 400ms;
            margin-top: -1px;

            >a {
                line-height: inherit;
                height: inherit;
                color: rgba(0, 0, 0, 0.85);
                display: inline-block;
                padding: 0 8px;
                font-size: 14px;
                font-weight: 500;
                transition: color 500ms;
                letter-spacing: 0.4px;
                vertical-align: top;
                transition: color 400ms;
                position: relative;

                &::after {
                    content: "";
                    opacity: 0;
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    background: linear-gradient(179deg,#3f51b5,#873fb5);
                    transition: opacity 400ms;
                }
            }

            &.selected > a,
            &:hover > a {
                color: #000;
                text-decoration: none;
            }

            &.selected > a::after,
            &:hover > a::after {
                opacity: 1;
            }
        }

        @media (max-width: $screen-xs) {
            .nav-toggle {
                display: block;
            }

            .main-nav {
                position: fixed;
                top: 80px;
                background: #FFF;
                width: 100%;
                left: 0;
                right: 0;
                z-index: -1;
                padding-top: 16px;
                padding: 12px;
                box-shadow: 0 0 15px rgba(0,0,0,.65), inset 0px 7px 9px -6px rgba(0, 0, 0, 0.3);

                &[aria-expanded="false"] { display: none; }
            }

            .main-nav > ul > li {
                width: 100%;
                margin: 0;
                height: 55px;
                margin-bottom: 6px;
                border-radius: 4px;

                >a {
                    color: rgba(0,0,0,.7);
                    width: 100%;
                    height: 55px;
                    line-height: 55px;
                    padding-left: 16px;
                    font-size: 15px;
                    border: none !important;

                    &::after {
                        display: none !important;
                    }
                }

                &:last-child { margin-bottom: 0px; }

                &.selected, &:hover { background: rgba(0,0,0,.08); }

                &:hover > a { color: #000; }
                &.selected > a {
                    color: $primary-color;
                }
            }
        }
    }
}

.main-header:not(.scrolled) {
    box-shadow: none;

    >.nav {
        background: transparent;

        .logo > a > img {
            filter: brightness(500%);
        }
    }
}


.title-bar {
    background: linear-gradient(157deg, #3f51b5, #873fb5);
    height: auto;
    padding-top: 80px;
    overflow: hidden;
    font-family: 'Open Sans';
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);

    .content {
        padding: 42px 0;
        padding-bottom: 106px;
    }

    .headline {
        font-size: 26px;
        font-weight: 400;
        color: #FFF;
    }

    .breadcrumb {
        position: relative;
        display: block;
        float: right;
        margin: 6px 0 0 0;

        >li {
            position: relative;
            display: inline-block;
            float: left;

            >a {
                font-size: 14px;
                position: relative;
                display: inline-block;
                color: rgba(255,255,255,.9);
                float: left;
            }

            &:last-child > a {
                color: #FFF;
                font-weight: 600;
            }

            &:after {
                content: "\F142";
                font: normal normal normal 24px/1 "Material Design Icons";
                top: 0px;
                font-size: 20px;
                position: relative;
                display: inline-block;
                padding: 0px 2px;
                float: left;
                color: #FFF;
            }

            // Hide arrow of second breadcrumb item, first item is always hidden
            &:last-child:after {
                display: none;
            }
        }
    }

    @media (max-width: $screen-md) {
        padding-left: 16px;
        padding-right: 16px;

        .content { 
            padding: 28px 0; 
            padding-bottom: 92px;
        }
 
        .breadcrumb {
            margin: 0 auto;
            overflow: hidden;
            display: inline-block;
            margin-top: 24px;
            float: none;
        }
    }
}